* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(20, 20, 20));
}

header {
  height: 15vh;
  font-size: 15vmin;
  font-weight: bold;
  color:rgb(212, 0, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px 5px rgba(212, 0, 255, 0.6);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.btn {
  height: 15vmin;
  width: 15vmin;
  background-color: transparent;
  border: none;
  font-size: 12vmin;
  color: black;
  user-select: none;
}

.btn:hover {
  cursor: pointer;
}

.btn:nth-child(3n-2),
.btn:nth-child(3n-1) {
  border-right: 10px solid white;
}

.btn:nth-child(n):nth-child(-n + 6) {
  border-bottom: 10px solid white;
}

.score {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2vw;
  font-size: 5vmin;
}

.playerO,.playerOScore{
  color: blue;
}
.playerX,.playerXScore{
  color: red;
}
.result {
  font-size: 4vmin;
  font-weight: bold;
  color: #12e049;
  text-align: center;
  height: 10vh;
  margin-top: -1vmin;
  margin-bottom: -4vmin;
}

footer {
  color: white;
  text-align: center;
  height: 5vh
}

